* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playBoard {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

button {
    max-width: 50px;
    display: flex
}

.mainHeader {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}